html{
    background-color:  lightgray;
}
.head{
    font-family: Lato;
    text-align: center;
}
.head::after{
   content: " ";
   display: block;
   height: 2px;
   width: 100px;
   background-color: orange;
   margin:auto;
   margin-top: 25px;
}
.Form{ 
    font-family: Lato;
    font-size: 140%;
   display: flex;
   margin-top: 200px;
   width: 800px;
   margin-left: 500px;
}
.Labels{
    display: flex;
    width: 370px;
   margin-left: 200px;
}
li{
    list-style: none;
}
.submit{
    margin-top: 5px;
    color: white;
    background-color: orange;
    border: solid 0px;
    border-radius: 20px;
    width: 70px;
    height: 20px;
}
.submit:hover{
    background-color: darkorange;
}
.group1{
    margin-bottom: 20px;
}
.group2{
    margin-bottom: 15px;
}
.textArea{
    margin-top: 20px;
    height: 60px;
}

.content1{
    color: lightgray;
}
.content1:hover{
    color: white;
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    height: 300px;
    margin: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: grey;
    text-decoration: none;
}

.footer-links a:hover {
    color: white;
    text-decoration: none;
}

.social-media {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 24px; 
    height: 24px;
}